/* CSS Reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
strong{ font-weight:bold;}
img{ vertical-align:top;}
.cl{ clear:both; font-size:0; height:0; overflow:hidden;}



/* Generic Styling */
a{ color:#1089E5; text-decoration:none;}
a:hover{ color:#269df7;}


body{ font-size:14px; color:#333; font-family:Arial, Helvetica, sans-serif; background:#eaeff3 url(../images/body_bg.jpg) center 31px no-repeat; padding-bottom:20px;}


.top_bar{ width:100%; height:31px; background:#233653;}
.top_bar_inside{ width:960px; margin:0 auto; line-height:31px; position:relative;}
.top_bar .alerts_title{ position:absolute; left:8px; top:2px; height:33px; line-height:29px; padding:0 6px; font-size:12px; color:#fff; margin-right:10px; font-weight:bold;
						background:#557091 url(../images/alerts_bg.gif) top repeat-x;}
.top_bar p{ padding-left:80px; color:#fff; font-size:13px;}
.top_bar p a{ color:#fff; text-decoration:underline; font-weight:bold;}


#header{ width:960px; margin:0 auto; overflow:hidden;}
	.logo{ float:left;}
	
	.fonts_box{ float:right; padding-top:74px; font-family:Verdana, Arial, Helvetica, sans-serif;}
	.fonts_box a{ float:left; width:20px; text-indent:-9999px; overflow:hidden; background:url(../images/ico_fonts.png) 0 0 no-repeat; margin-left:2px;}
	.fonts_box a.ico_font1{ width:17px; height:17px; background-position:0 0; margin-top:6px;}
	.fonts_box a.ico_font2{ height:20px; background-position:-17px 0; margin-top:3px;}
	.fonts_box a.ico_font3{ height:23px; background-position:-37px 0;}
	.fonts_box span{ float:left; color:#333; font-weight:bold; margin:6px 0 0 6px;}
	


#content{ width:960px; margin:0 auto; background:url(../images/content_bg.png) 0 0 no-repeat; padding:9px 9px 0;}
	.nav_box{ width:100%; overflow:hidden; background:#243755 url(../images/nav_bg.gif) 0 0 repeat-x;}
		.nav{ float:left;}
		.nav li{ float:left; background:url(../images/nav_line.gif) right 0 no-repeat;}
		.nav li.last{ background:none;}
		.nav li a{ float:left; height:32px; line-height:32px; color:#fff; padding:0 30px;}
		.nav li.on a,
		.nav li a:hover{ color:#eee;}
		
		.search_form{ float:right; width:240px; padding-top:6px; height:26px; background:#1c2a42 url(../images/search_form_bg.gif) 0 0 repeat-y;}
		.search_form fieldset{ width:210px; margin:0 auto; height:20px; background:url(../images/search_form.png) 0 0 no-repeat;}
		.search_form .input_txt{ float:left; width:160px; padding-left:25px; height:20px; line-height:20px; border:0; color:#ccc; font-style:italic;
								 font-family:Arial, Helvetica, sans-serif; background:transparent;}
		.search_form .input_submit{ float:right; width:24px; height:20px; border:0; cursor:pointer; background:transparent;}
		.input_txt_dark {color: #666 !important;}
		
	.find_box{ width:920px; overflow:hidden; background:#21324f url(../images/ride_box_bg.gif) 0 0 repeat-x; padding:20px 20px 12px; margin-bottom:6px;}
		.find_title{ font-size:32px; color:#fff; text-shadow:-1px -1px 2px #314d6b; margin-bottom:13px;}
		.find_title span{ color:#A5B6CD;}
		.find_title em{ font-size:17px; color:#fff; text-shadow:none; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; margin-left:8px;}
		
		.find_form{ width:900px; height:36px; background:#466589 url(../images/form_bg.gif) 0 0 repeat-x; padding:10px; margin-bottom:8px; 
					 border-radius:4px; box-shadow:2px 2px 3px #243754; behavior:url(css/pie.htc); position:relative;}
		.find_form .input_txt{ float:left; width:342px; height:34px; line-height:34px; margin-right:10px; font-family:Arial, Helvetica, sans-serif; 
								 font-size:15px; color:#666; padding:0 10px; font-style:italic; border:none; border-top:1px #737373 solid; 
								  border-left:1px #737373 solid; box-shadow:inset 3px 3px 3px #8d8c8c; behavior:url(css/pie.htc); position:relative;}
		.find_form .input_submit{ float:right; width:151px; height:36px; line-height:36px; background:#fe5300 url(../images/submit_bg.gif) 0 0 no-repeat; 
								 font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#fff; cursor:pointer; border:0; text-align:left; 
								 text-indent:15px; font-weight:bold; text-shadow:1px 1px 2px #f27100; box-shadow:0 0 5px #8391a3; 
								  behavior:url(css/pie.htc); position:relative;}
		
		.call{ float:left; color:#8494AB; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-size:16px;}
		.call strong{ color:#fff; font-weight:normal; font-style:italic;}
		.find_link{ float:right;}
		.find_link span{ display:inline-block; background:url(../images/para_line.gif) 0 8px no-repeat; margin:0 6px;}
		.find_link a{ font-size:11px; color:#bdc3cc; text-decoration:underline; font-weight:bold;}
		.find_link a:hover{ color:#eee;}




#footer{ width:960px; margin:0 auto;}
	.footer_row1{ width:940px; overflow:hidden; background:#3F6187 url(../images/fooer_bg1.gif) 0 0 repeat-x; border-bottom:1px #527092 solid; padding:16px 0 16px 20px;}
		.footer_block{ float:left; width:234px;}
		.last_footer_block{ width:205px;}
		
		.footer_block p{ font-size:13px; color:#fff; line-height:160%; text-shadow:0 0 1px #939dac;}
		.footer_block p a{}
			.footer_title{ color:#A5B6CD; margin-bottom:18px; text-shadow:-1px -1px 1px #18253a; font-weight:bold;}
			.footer_list{ margin-bottom:23px;}
			.footer_list li{ margin-bottom:4px;}
			.footer_list li a{ font-size:13px; color:#fff; text-shadow:0 0 1px #939dac;}
			.footer_list li a:hover{ color:#ededed;}
			
			.sign_form{ margin-bottom:20px;}
			.sign_form .sign_form_title{ font-size:13px; color:#fff; margin-bottom:6px;}
			.sign_form .input_txt{ display:block; width:188px; height:21px; line-height:21px; background:#fff; border:1px #d2d2d2 solid; padding:0 5px; 
									 font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666; font-style:italic; margin-bottom:7px; 
									 box-shadow:inset 1px 1px 3px #d2d2d2; behavior:url(css/pie.htc); position:relative; border-radius:3px;}
			.sign_form .input_submit{ display:block; background:none; border:0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#fff; cursor:pointer;}
			
	
	
	.footer_row2{ width:920px; overflow:hidden; background:#20314D url(../images/footer_bg2.gif) 0 0 repeat-x; margin-bottom:10px; padding:18px 20px;}
		.copyright{ float:left; font-size:12px; color:#A5B6CE; font-weight:bold; text-shadow:0 0 1px #29405e;}
		.copyright span{ margin:0 6px;}
		.btn_contribute{ float:right; width:140px; height:20px; background:#4d6a8d url(../images/footer_btn_bg.gif) 0 0 repeat-x; 
						 border-radius:5px; box-shadow:-1px -1px 2px #273d58; behavior:url(css/pie.htc); position:relative;}
		.btn_contribute a{ display:block; font-size:12px; color:#fff; background:url(../images/ico_arrow.png) 95% 5px no-repeat; cursor:pointer;}
		.btn_contribute a span{ display:block; font-weight:bold; height:20px; line-height:20px; padding-left:13px; 
								 background:url(../images/footer_line.gif) 85% 2px no-repeat;}
		.btn_contribute a:hover{ color:#ededed;}
		
	.logo_w3c{ width:100%;}
		
	
	
	
/*--------------------------------search result page-------------------------------------*/
.cont_box{ width:950px; padding:5px; overflow:hidden; background:#fff;}
.cont_box_inside{ width:100%; overflow:hidden; background:url(../images/cont_block_bg.gif) 0 0 repeat-y;}
	.sidebar{ float:left; width:206px; margin-left:12px; display:inline; padding-top:16px; padding-bottom:25px;}
		.map{ border:1px #b9b9b9 solid; margin-bottom:3px;}
		.map img{ border:2px #def1f9 solid;}
		.map_view{ display:inline-block; font-size:12px; color:#1088E5; margin-bottom:30px;}
		.map_view:hover{ color:#0d72bf;}
		.title_option{ color:#333; font-weight:bold; margin-bottom:16px;}
		
		.side_block{ width:100%; background:url(../images/line.gif) top repeat-x; padding-top:20px; margin-bottom:12px;}
			.side_title{ font-size:13px; font-weight:bold; margin-bottom:10px;}
			.side_row{ width:100%; overflow:hidden; margin-bottom:5px;}
			.side_row .input_checkbox,
			.side_row .input_radio{ float:left; width:15px; height:15px; margin-right:5px;}
			.side_row span{ float:left; width:177px; line-height:120%; font-size:13px;}
			.side_row .side_col{ float:left; width:103px;}
			.side_row .side_col span{ width:80px;}
			.btn_more{ display:inline-block; margin-top:10px; font-size:12px;}

	
	.main_content{ float:right; width:710px; padding-bottom:25px;}
		.path_box{ width:706px; overflow:hidden; padding:1px; border:1px #d8d8d8 solid; margin-bottom:18px;}
			.path_form{ padding:20px 27px 20px 12px; background:#f3f3f3 url(../images/choose_box_bg.gif) 0 0 repeat-x;}
			.path_form .path_block{ float:left; width:255px;}
			.path_form .path_block .path_title{ font-size:12px; margin-bottom:4px;}
			.path_form .path_block .input_txt{ display:block; width:237px; height:22px; line-height:22px; border:1px #c9c9c9 solid; margin-bottom:8px; 
												font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#333; padding:0 8px;
												box-shadow:inset 0px 0px 1px #c9c9c9; behavior:url(css/pie.htc); position:relative;}
			.path_form .path_block .btn_other{ display:inline-block; font-size:12px;}
			.path_form .path_ico{ float:left; width:15px; height:20px; margin:20px 14px 0 12px;}
			.path_form .input_submit{ float:right; width:108px; height:25px; line-height:25px; border:0; cursor:pointer; margin-top:18px; 
									background:#fb5b00 url(../images/submit_bg2.gif) 0 0 no-repeat; font-size:12px; color:#fff; font-family:Arial, Helvetica, sans-serif;}
		
		
		.found_result{ width:100%; overflow:hidden; margin-bottom:12px;}
			.found_result_title{ float:left; text-indent:15px; font-size:16px;}
			
			.result_pager1{ float:right;}
			.result_pager1 span{ float:left; position:relative; top:-4px;}
			.result_pager1 .btn_page{ float:left; line-height:14px; font-size:12px; margin:0 3px;}
			.result_pager1 .page_on,
			.result_pager1 .btn_page:hover{ color:#333;}
			.result_pager1 .page_prev,
			.result_pager1 .page_next{ float:left; width:11px; height:13px; overflow:hidden; text-indent:-9999px; border:1px #ccc solid; margin:0 8px;}
			.result_pager1 .page_prev{ background:url(../images/page_prev.gif) 0 0 no-repeat;}
			.result_pager1 .page_next{ background:url(../images/page_next.gif) 0 0 no-repeat;}
			
			
		.search_result_box{ width:100%; margin-bottom:20px;}
			.search_result_title{ width:706px; line-height:22px; overflow:hidden; border:1px #d8d8d8 solid; font-size:12px; font-weight:bold; 
								 background:url(../images/title_bg.gif) top repeat-x; margin-bottom:15px;}
			.search_result_title span{ float:left; width:473px; margin-left:14px;}
			.search_result_title strong{ float:left;}
			
			.search_result_row{ width:100%; overflow:hidden; border-bottom:1px #e1e1e1 solid; padding-bottom:15px; margin-bottom:15px;}
				.result_title,
				.result_title a { font-size:16px; font-weight:bold; margin-bottom:4px; text-indent:14px; color:#333;}
				  .result_title a:hover { color:#1089E5;}
				.result_txt1{ float:left; width:473px; margin-left:14px;}
				.result_txt1 p{ line-height:140%;}
	
				.result_txt2{ float:left;}
				.result_txt2 p{ font-size:13px; margin-bottom:3px;}
				
		.result_pager2{ width:100%; text-align:center; line-height:21px;}
		.result_pager2 span{ line-height:21px; position:relative; top:-4px;}
		.result_pager2 .btn_page{ display:inline-block; height:21px; font-size:15px; margin:0 2px;}
		.result_pager2 .page_on,
		.result_pager2 .btn_page:hover{ color:#333;}
		.result_pager2 .page_prev,
		.result_pager2 .page_next{ display:inline-block; height:21px; line-height:21px; font-size:13px; color:#fff; font-weight:bold; border-radius:3px; behavior:url(css/pie.htc); position:relative;}
		.result_pager2 .page_prev{ background:#3e5f85 url(../images/pager_prev2.gif) 5px 6px no-repeat; margin-right:8px; padding:0 8px 0 20px;}
		.result_pager2 .page_next{ background:#3e5f85 url(../images/pager_next2.gif) 93% 6px no-repeat; margin-left:8px; padding:0 20px 0 8px;}

	
/*pop box*/	
.pop_location{ position:absolute; left:200px; top:200px; width:270px; padding:14px; background:#ddeff8 url(../images/pop_box_bg.gif) top repeat-x; border:2px #fff solid; box-shadow:0 0 4px #b8b8b8;
				 behavior:url(css/pie.htc); z-index:10; font-size:13px; display:none;}
.pop_location .pop_arrow{ position:absolute; width:28px; height:17px; text-indent:-9999px; overflow:hidden; background:url(../images/pop_arrow.png) 0 0 no-repeat; left:20px; top:-17px;}
.pop_location .pop_close{ position:absolute; width:9px; height:10px; display:block; text-indent:-9999px; overflow:hidden; background:url(../images/pop_close.gif) 0 0 no-repeat; right:10px; top:10px;}
.pop_location .pop_title{ font-weight:bold; margin-bottom:8px;}
.pop_location select{ font-size:12px; font-family:Arial, Helvetica, sans-serif;}

	.select_radio{ float:left; width:130px; margin-bottom:8px;}
	.select_radio input{ float:left; width:15px; height:15px;}
	.select_radio label{ float:left; margin-left:4px; line-height:15px;}
	
	.pop_submit_row{ padding-top:14px;}
	.pop_submit_row .input_go{ width:37px; height:26px; background:#3e5f85; color:#fff; font-family:Arial, Helvetica, sans-serif;
							   border-radius:3px; behavior:url(css/pie.htc); position:relative; border:0; cursor:pointer;}
	.pop_submit_row a{ font-size:11px; margin-left:5px;}
	
	
/*--------------------------------------------result page---------------------------------------------------*/
.find_form2 .find_title{ font-size:32px; color:#fff; text-shadow:-1px -1px 2px #314d6b; margin-right:18px;}

.find_form2{ width:887px; overflow:hidden; height:46px; background:url(../images/form_bg.gif) 0 0 repeat-x; padding:10px 19px 0 14px; border-radius:4px;
			box-shadow:2px 2px 3px #243754; behavior:url(css/pie.htc); position:relative; margin-bottom:8px;}
.find_form2 .find_title{ float:left; font-size:32px; color:#fff; text-shadow:-1px -1px 2px #314d6b; margin:0 13px 13px 0;}
.find_form2 .input_txt{ float:left; width:262px; height:22px; line-height:22px; margin:6px 6px 0 0; font-family:Arial, Helvetica, sans-serif; 
						 font-size:15px; color:#666; padding:0 8px; font-style:italic; border:1px #c9c9c9 solid; 
						  box-shadow:inset 0px 0px 1px #f1f1f1; behavior:url(css/pie.htc); position:relative;}
.find_form2 .input_submit{ float:right; width:108px; height:24px; line-height:24px; background:url(../images/submit_bg2.gif) 0 -1px no-repeat; 
						 font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; cursor:pointer; border:0; margin-top:6px; font-weight:bold;
						 font-weight:bold; text-shadow:1px 1px 2px #f27100; box-shadow:0 0 5px #8391a3; behavior:url(css/pie.htc); position:relative;}
						 
						 
						 
.main_txt{ float:left; width:660px; margin-left:19px; padding-top:19px;}		
	.btn_back{ display:inline-block; height:20px; line-height:20px; padding:0 15px 0 30px; font-size:12px; color:#fff; margin-bottom:15px; font-weight:bold;
				 background:#3e5f85 url(../images/btn1_bg.gif) 6px no-repeat; border-radius:6px; behavior:url(css/pie.htc); position:relative;}
	.btn_back:hover{ color:#ededed;}
						 
		h1{ font-size:45px; color:#000; line-height:100%; margin-bottom:30px;}
		.txt_box{ border-bottom:1px #cccccc solid; margin-bottom:15px; color:#666;}
		.txt_box p{ margin-bottom:25px; line-height:150%; padding-right:15px;}
		.txt_box strong{ color:#000;}
			h2{ font-size:18px; font-weight:bold; margin-bottom:10px; color:#000;}
			.txt_list{ margin-bottom:25px;}
			.txt_list li{ margin-bottom:5px;}
		
		.txt_box_last{ border-bottom:0;}




.contact_box{ float:right; width:201px; margin:19px 19px 0 0; padding-top:19px; border:1px #d8d8d8 solid; border-top:4px #333 solid; color:#666;
			  padding:19px; background:#fcfcfc url(../images/contact_box_bg.gif) bottom repeat-x;}
.contact_box p{ font-size:13px; line-height:140%;}
.contact_box p b{ width:40px; display:inline-block;} 
	.contact_title{ font-size:18px; color:#000; border-bottom:1px #ccc solid; padding-bottom:6px; margin-bottom:8px;}
	.btn_visit{ display:inline-block; height:20px; line-height:20px; padding:0 30px 0 10px; font-size:12px; color:#fff; margin:15px 0 33px; font-weight:bold;
				 background:#3e5f85 url(../images/btn2_bg.gif) 95% no-repeat; border-radius:6px; behavior:url(css/pie.htc); position:relative;}
	.btn_visit:hover{ color:#ededed;}
						 
	





